.header {
  @extend .py-4, .row, .d-flex, .justify-content-around;
  background-color: $header-orange;
}
.header--nopt {
  @extend .pb-4, .row, .d-flex, .justify-content-around;
  background-color: $header-orange;
}

.header__btn {
  @extend .d-flex, .col-2, .px-0, .align-items-center, .justify-content-center;
  border: solid $lighter-brown;
  border-radius: 15px;
  height: $ml-size;
  color: $light-brown;
  font-weight: 600;
  text-align: center;

  @media all and (max-width: 530px) {
    height: calc(#{$ml-size} + 1.5rem);
  }
}

.header__btn:hover {
  cursor: pointer;
  background-color: $lighter-brown;
  color: white;
  text-decoration: none;
  top: 3px;
}

.header__btn--active {
  background-color: $lighter-brown;
  color: white;
  text-decoration: none;
}

.header__btn--disable {
  visibility: hidden;
}

.header__home {
  @extend .d-flex, .align-items-center;
  color: $light-brown;
}