.homepage {
  height: 100%;
  background-image: url('/handshake.png');
  background-size: cover;
}

.homepage__box {
  @extend .my-5, .p-3;
  height: calc(#{$xxl-size} * 2);
  width: 100%;
  border: solid white thick;
  box-shadow: 1px 1px 1px 1px;
}

.homepage__textarea {
  position: relative;
  text-align: center;
}

.homepage__textarea > h5 {
  @extend .mb-3;
}
