.homepage {
  height: 100%;
  background-image: url('../img/handshake.png');
  background-size: cover;
}

.homepage__box {
  @extend .my-5;
  height: 30vh;
  width: 100%;
  border: solid white thick;
  box-shadow: 1px 1px 1px 1px;
}

.homepage__textarea {
  position: relative;
  text-align: center;
}

.homepage__textarea > h5 {
  @extend .mb-3;
}
