html {
  width:100%;
  height: 100%;
  display: table;
}

body {
  width: 100%;
  display: table-cell;
  // font-family: "Microsoft JhengHei", "Helvetica", "Arial", "sans-serif";
}

html, body {
  margin: 0px;
  padding: 0px;
}

#root {
  height: 100%;
}

.container-fluid {
  margin: 0 auto;
  height: 100%;
}

.page__title {
  @extend .h1, .text-center, .my-4;
}

.page__passage {
  @extend .my-4;
  text-indent: 2em;
}

.text--highlight {
  @extend .font-weight-bold;
  color: $gold-yellow;
}
